html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #1B1924;
    color: whitesmoke;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    box-sizing: border-box;
    height:100vh;
    padding: 20px 10px;
    max-width: 400px;
}
img{
    width: 90px;
    height: 90px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title,.display-title{
    width: 270px;
    height: 25px;
    font-weight: bold;
}
#input-text-field{
    width: 320px;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    background-color: #444059;
    color: whitesmoke;
    resize: none;
    user-select:all;
}
#input-text-field:focus {
    outline: none;
}
#publish-btn{
    width: 320px;
    height: 60px;
    background-color: #28A9F1;
    color: #04131C;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.display-title{
    margin: 20px 0px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 190px;
}
ul::-webkit-scrollbar{
    display: none;
}
ul li {
    font-size: 20px;
    background-color: #FFFFFF;
    color: #1B1924;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}